<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li style="width: 9.5em">
    <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fsully-tech.dev&count_bg=%23646464&title_bg=%23646464&icon=github.svg&icon_color=%23E7E7E7&title=visitors&edge_flat=false"/></a>
  </li>